{% extends 'base_content.html' %}

{% block content %}
<div class="card">
<div class="card-header align-items-center">

    <div class="navbar-nav-right d-flex align-items-center justify-content-end">
       <a class="btn btn-primary" href="javascript:void(0);">Добавить получателя</a>
    </div>
    <h5 class="card-action-title mb-5">Получатели(2)</h5>
</div>
<div class="card-body">
    <ul class="list-unstyled mb-0">
        <li class="mb-4">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                   <div class="avatar avatar-sm me-3">
                       <span class="avatar-initial rounded-circle bg-label-success">EM</span>
                   </div>
                    <div class="me-2">
                        <h6 class="mb-0">Cecilia Payne</h6>
                        <small>45 Connections</small>
                    </div>
                </div>
                <div class="ms-auto">
                    <button class="btn btn-label-primary btn-icon">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="red"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </button>
                </div>
            </div>
        </li>
        <li class="mb-4">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                   <div class="avatar avatar-sm me-3">
                       <span class="avatar-initial rounded-circle bg-label-success">EM</span>
                   </div>
                    <div class="me-2">
                        <h6 class="mb-0">Curtis Fletcher</h6>
                        <small>1.32k Connections</small>
                    </div>
                </div>
                <div class="ms-auto">
                    <button class="btn btn-label-primary btn-icon">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="red"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
{% endblock content %}